<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nojom.client">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.nojom.client.Task24Application"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hasFragileUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="false"
        tools:targetApi="q">
        <activity
            android:name="com.nojom.client.ui.addcard.CardListActivity"
            android:exported="false"
            android:label="@string/title_activity_card_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.addcard.AddCardActivity"
            android:exported="false"
            android:label="@string/title_activity_addcard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.ExpertFilterActivity"
            android:exported="false" />
        <activity
            android:name="com.nojom.client.ui.ExpertGigFilterActivity"
            android:exported="false" />
        <activity
            android:name="com.nojom.client.ui.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nojomstars.page.link"
                    android:scheme="https" />
                <data
                    android:host="nojomstars.page.link"
                    android:scheme="http" />
            </intent-filter>
            <!--<intent-filter>
                <data
                    android:host="open"
                    android:scheme="clientandroidapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>-->
            <!--<intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nojom.co"
                    android:scheme="https" />
                &lt;!&ndash;                &lt;!&ndash; example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website. &ndash;&gt;&ndash;&gt;
                <data
                    android:host="nojom.co"
                    android:scheme="https" />
            </intent-filter>-->
        </activity> <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_fh6bHRxBrJUWPhjyux1lxcjgBFnD4XES" />

        <activity
            android:name="com.nojom.client.ui.SelectAccountActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nojom.client.ui.home.FindExpertActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.auth.LoginSignUpActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.clientprofile.MyProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.OtpActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.clientprofile.SelectExpertiseActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".ui.home.WorkHomeActivity" -->
        <!-- android:configChanges="orientation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name="com.nojom.client.ui.home.LawyerHomeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.home.ServiceActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.home.AddMoreStarActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.chat.ChatActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.chat.ChatMessagesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.BalanceActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.WalletActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.AddBalanceActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.EditPaypalActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.WithdrawMoneyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.DepositActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.ChooseAccountActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.balance.ChoosePaymentMethodActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.settings.AddSurveyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.settings.ReSubmitSurveyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.MyProjectsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.MyCampaignActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.MyOrdersActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.OrderDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.projects.PaymentActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.projects.AddWalletActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.projects.BankTransferActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.DepositFundsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.settings.GetDiscountActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.settings.MyInvoiceActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ClientReviewActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ClientGigReviewActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.FreelancerProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.InfluencerProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.InfluencerProfileActivityCopy"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.InfluencerServActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.CampDataActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.EditCampDataActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.PaymentMethodActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <!--<activity
            android:name=".util.CardFormActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.TransparentDialog"
            tools:ignore="LockedOrientationActivity" />-->
        <activity
            android:name=".util.AddCardActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.WebViewActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.WebViewWalletActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.NewPaymentActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.InfluencerProfileAllActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.ProjectDetailsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.CampaignDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.CampaignDetailActivity2"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.CampaignStarActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.ProjectGigDetailsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.HireActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.MilestoneActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.HowItWorksActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.WhatWeDoActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ServicesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ClientMoreActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ClientProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.workprofile.VerificationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.workprofile.UpdateLocationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ShareDiscountActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ClientSettingActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.auth.UpdatePasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.workprofile.VerifyPhoneNumberActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.PublicProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.ProfileInfoActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.PostJobActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.PostJobNewActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.InfluencerFilterActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.PostJobTitleActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.AutoPlaceLocationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.settings.NotificationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.UsernameActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.VerifyEmailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.VerifyPaymentActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.SelectFreelancerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.multitypepicker.activity.ImagePickActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.multitypepicker.activity.ImageBrowserActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.multitypepicker.activity.AudioPickActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.multitypepicker.activity.VideoPickActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.multitypepicker.activity.NormalFilePickActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- Firebase Notifications -->
        <activity
            android:name="com.nojom.client.ui.policy.NewPolicyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.workprofile.CallerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.MaintenanceActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.home.GigDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.home.GigExtrasActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.partner.PartnerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.partner.PartnerAboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.partner.PartnerProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.clientprofile.DeleteAccountActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.ServiceSellersSearchActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.home.ViewAllGigActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <activity
            android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity"
            android:exported="true"
            android:noHistory="true"> <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.influencer.android.apps.employer.hire.freelancer" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nojom.client.fcm.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3al5izK-SjpDu8o1PKcsP2tOp8LY4h08" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nojom.client.ui.projects.AddDescribeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.SearchTagActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HireDescribeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HirePriceRateActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HireEnterRateActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HireDeadlineActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HirePostJobTitleActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nojom.client.ui.projects.HireOfferSummaryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.stripe.android.payments.StripeBrowserLauncherActivity"
            android:exported="true"
            android:theme="@style/StripeTransparentTheme"
            tools:replace="android:exported">
            <intent-filter>
                <!--                <action android:name="android.intent.action.VIEW" />-->

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment_return_url"
                    android:path="/${applicationId}"
                    android:scheme="stripesdk" />
            </intent-filter>
        </activity>
    </application>

</manifest>